In [2]:
d = {"name":'Avinah','Class':'Btech','Branch':'b'}

In [3]:
type(d)

dict

In [4]:
d['name']

'Avinah'

In [5]:
dl = {'name':'Avinha','Technology':['c','c++','java','Python','Data Structures']}

In [6]:
type(dl)

dict

In [7]:
dl['Technology']

['c', 'c++', 'java', 'Python', 'Data Structures']

In [9]:
'Python'in dl["Technology"]

True

In [10]:
d2 = {_:'Avinash'}

In [11]:
d2

{True: 'Avinash'}

In [12]:
d3 = {@:'Avinash'}

SyntaxError: invalid syntax (1482617678.py, line 1)

In [13]:
d.keys()

dict_keys(['name', 'Class', 'Branch'])

In [14]:
d.values()

dict_values(['Avinah', 'Btech', 'b'])

In [15]:
d.pop()

TypeError: pop expected at least 1 argument, got 0

In [16]:
d.pop('name')

'Avinah'

In [17]:
d

{'Class': 'Btech', 'Branch': 'b'}

In [18]:
d.popitem()

('Branch', 'b')

In [19]:
D

NameError: name 'D' is not defined

In [20]:
d

{'Class': 'Btech'}

In [21]:
d.setdefault()

TypeError: setdefault expected at least 1 argument, got 0

In [33]:
d.setdefault('name')

In [34]:
d

{'Class': 'Btech', 'name': None, 'nameAvinash': None}

In [35]:
d

{'Class': 'Btech', 'name': None, 'nameAvinash': None}

In [36]:
d.setdefault('name')

In [37]:
d

{'Class': 'Btech', 'name': None, 'nameAvinash': None}

In [40]:
d.update(['name',] **none)

NameError: name 'none' is not defined

In [42]:
d.setdefault('come,','shehs')

'shehs'

In [43]:
d

{'Class': 'Btech', 'name': None, 'nameAvinash': None, 'come,': 'shehs'}

In [45]:
d.setdefault('come2','naem')

'naem'

In [46]:
d

{'Class': 'Btech',
 'name': None,
 'nameAvinash': None,
 'come,': 'shehs',
 'come2': 'naem'}

In [47]:
s={1,2,3,3,4,23,6,6,6,6}

In [48]:
type(s)

set

In [49]:
s[0]

TypeError: 'set' object is not subscriptable

In [50]:
s(0)

TypeError: 'set' object is not callable

In [51]:
s{0}

SyntaxError: invalid syntax (2942501517.py, line 1)

# 04-08-2022

In [1]:
s = {}

In [2]:
type(s)

dict

In [3]:
s={3,3,32,2,7,3,4,2}

In [5]:
type(s)

set

In [6]:
s = {1,2,3,4,5,6,7,"Manish"}

In [7]:
type(s)

set

In [8]:
d = {"name":" Narayana","class":"2nd year","Branch":"CSE"}

In [9]:
type(s)

set

In [10]:
type(d)

dict

a dictionary has key and values , like in dictionary. whereas, a set maybe kinda like list/random...

In [11]:
d["name"]

' Narayana'

In [12]:
d["Branch"]

'CSE'

In [14]:
s

{1, 2, 3, 4, 5, 6, 7, 'Manish'}

In [15]:
s[0]

TypeError: 'set' object is not subscriptable

In set we cannot access indexes

In [16]:
l = [1,2,3,4,5,6,7,'Manish']

In [17]:
type(l)

list

In [18]:
l[0]

1

In [19]:
t = (1,2,3,4,5,6,7,'Manish')

In [20]:
type(t)

tuple

In [23]:
s = {1,2,3,4,5,6,7,'MAanish',2,3,3,3,3,33,3,3,33,3,7,8,8,9,9,9,9}

In [24]:
type(s)

set

In [25]:
s

{1, 2, 3, 33, 4, 5, 6, 7, 8, 9, 'MAanish'}

In [26]:
s = {(1,2,3,4,5),6,7,8,"Narayana"}

In [27]:
s

{(1, 2, 3, 4, 5), 6, 7, 8, 'Narayana'}

In [28]:
type(s)

set

In [29]:
s = {[1,2,3,4,5,6,7],8,9,0,"Sheesh"}

TypeError: unhashable type: 'list'

In [32]:
s = {4}

In [33]:
s

{4}

In [34]:
s={(1, 2, 3, 4, 5), 6, 7, 8, 'Narayana'}

In [35]:
s

{(1, 2, 3, 4, 5), 6, 7, 8, 'Narayana'}

In [37]:
list(s)

['Narayana', 6, 7, 8, (1, 2, 3, 4, 5)]

In [39]:
list(s)[0]

'Narayana'

In [40]:
sl = list(s)

In [41]:
sl[4][3]

4

In [42]:
sl

['Narayana', 6, 7, 8, (1, 2, 3, 4, 5)]

In [43]:
type
(sl)

['Narayana', 6, 7, 8, (1, 2, 3, 4, 5)]

In [44]:
s3 = {'Narayana',6,7,8,(1,2,3,4,5)}

In [45]:
s3.discard(7)

In [46]:
s3

{(1, 2, 3, 4, 5), 6, 8, 'Narayana'}

In [47]:
s3.remove(6)

In [48]:
s3

{(1, 2, 3, 4, 5), 8, 'Narayana'}

In [49]:
s3.remove('Narayana')

In [50]:
s3

{(1, 2, 3, 4, 5), 8}

In [52]:
s3.add('naranyan')

In [53]:
s3

{(1, 2, 3, 4, 5), 8, 'naranyan'}

In [54]:
s3.discard('naranyan')

In [55]:
s3

{(1, 2, 3, 4, 5), 8}

In [56]:
s4 = {2,3,4,5,5,6}

In [57]:
s4

{2, 3, 4, 5, 6}

In [58]:
s3.intersection(s4)

set()

In [59]:
s3

{(1, 2, 3, 4, 5), 8}

In [60]:
s3.intersection(s4)

set()

In [61]:
s4.isdisjoint(s3)

True

In [62]:
s4.pop()

2

In [63]:
s4

{3, 4, 5, 6}

In [64]:
s4.pop(
)

3

In [65]:
s4

{4, 5, 6}

In [66]:
a = 23
if a == 23:
    print(a)

23

= is assignment ; == is condition

In [67]:
a = 23 
if a==23:
print(a)

IndentationError: expected an indented block (713548543.py, line 3)

In [68]:
a = 23 
if a == 23:
    pass

In [69]:
a = 23
if a == 23:
    pass
else:
    print(a)

In [70]:
s3

{(1, 2, 3, 4, 5), 8}

In [71]:
s3.add('narayana')

In [72]:
s3

{(1, 2, 3, 4, 5), 8, 'narayana'}

In [73]:
if 9 in s3:
    print(s3)
else:
    print("Something")

Something

In [52]:
input()

45361

'45361'

In [75]:
type(a)

int

In [42]:
a = input()

3333

In [77]:
type(a)

str

In [78]:
a = int(input())

2332

In [79]:
type(a)

int

by default a input takes string inputs, typecasting has to be done

In [85]:
price = int(input("Enter the Price: "))
if price < 500:
    print("We can buy a T-shirt")
elif price < 400 and price > 300:
    print("we can buy a Shirt")
else:
    print("We can buy something else")

Enter the Price: 450
We can buy a T-shirt

In [90]:
marks = int(input("Enter marks: "))
if marks > 600:
    print("GRE")
elif marks <=600 and marks >500:
    print("NO GRE")
elif marks <=500 and marks >400:
    print("TOFEL")
elif marks <=400 and marks >300:
    print("ICETS")
elif marks <=300:
    print("Try Something Else")

Enter marks: 500
TOFEL

# 08-08-2022

In [1]:
l = [2,3,4,5,6,"Venkatesh",6.8,9,12,8,99]

In [2]:
2 in l

True

In [3]:
for i in l:
    print(i)

2
3
4
5
6
Venkatesh
6.8
9
12
8
99

In [6]:
for i in l:
    print(i.index())

AttributeError: 'int' object has no attribute 'index'

In [16]:
s = {2,3,4,5,6,"Venkatesh",6.8,9,12.8,8,99,9,9,9}

In [17]:
s

{12.8, 2, 3, 4, 5, 6, 6.8, 8, 9, 99, 'Venkatesh'}

In [18]:
for i in s:
    print(i)

2
3
4
5
6
Venkatesh
6.8
9
8
99
12.8

In [19]:
d= {"name":"Abhiram","Class":"Sec-1","year":2,"Branch":"CSE"}

In [21]:
for i in d:
    print(i,":",d[i])

name : Abhiram
Class : Sec-1
year : 2
Branch : CSE

In [22]:
d["name"]

'Abhiram'

In [23]:
range(9)

range(0, 9)

In [24]:
list(range(0,9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [25]:
list(range(0,9,2))

[0, 2, 4, 6, 8]

In [26]:
list(range(0,9,-1))

[]

In [27]:
list(range(9,0,-1))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [28]:
list(range(9,0,-2))

[9, 7, 5, 3, 1]

In [29]:
l

[2, 3, 4, 5, 6, 'Venkatesh', 6.8, 9, 12, 8, 99]

In [30]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [32]:
for i in range(len(l)):
    print(i,":",l[i])

0 : 2
1 : 3
2 : 4
3 : 5
4 : 6
5 : Venkatesh
6 : 6.8
7 : 9
8 : 12
9 : 8
10 : 99

In [40]:
for i in range(len(l)-1,-1,-1):
    print(i,":",l[i])

10 : 99
9 : 8
8 : 12
7 : 9
6 : 6.8
5 : Venkatesh
4 : 6
3 : 5
2 : 4
1 : 3
0 : 2

In [41]:
range(len(l)-1,-1,-1)

range(10, -1, -1)

In [45]:
l2 = list(input("Enter the value of list:"))

Enter the value of list:1,23,4,5,4,6

In [54]:
l3 = int(input("Enter the value of list: "))

for i in range(len(l3)-1,-1,-1):
    print(i,":",l3[i])

ValueError: invalid literal for int() with base 10: 'Enter the value of list: '

In [70]:
n = int(input("Enter no. of values: "))
l = 
for i in n:
    l[i] = int(input())
    list=[l]

Enter no. of values: 4

TypeError: 'int' object is not iterable

In [80]:
n=int(input("Enter the no. :"))
s = input("Enter the string: ")
for i in range(n):
    for j in range(i+1):
        print(s," ",end = " ")
    print()

Enter the no. :5
Enter the string: kgjyb
kgjyb
kgjyb   kgjyb
kgjyb   kgjyb   kgjyb
kgjyb   kgjyb   kgjyb   kgjyb
kgjyb   kgjyb   kgjyb   kgjyb   kgjyb

*for has to accessed as such.                                                                                                   
*int them self cant be repeated so range helps.                                                                                 
*end = " " doesn't let the line change for the loop; print itself leave a line every print                                     
like without end = " " they come                                                                                               
print            print                                                                                     
print instead of print print                                                                                                 
print

In [82]:
s = input("Enter string : ")
s1 = set(s)
for i in s1:
    print(i,":",s.count(i))

Enter string : sheshank
n : 1
a : 1
k : 1
e : 1
h : 2
s : 2

Enter the no. 3
Enter the name : name
          name
     name name name
name name name name name
     name name name
          name

Enter the string := 3
Enter the name : Madhu
         Madhu
     Madhu    Madhu
Madhu    Madhu     Madhu